.aboutPage {
  display: flex;
  width: 80%;
  margin: 125px 10% 0 10%;

  @include breakpoint(825px) {
    width: 90%;
    margin: 125px 5% 25px 5%;
  }

  @include breakpoint(400px) {
    width: 100%;
    margin: 125px 0 25px 0;
  }

  .aboutDescription {
    position: relative;
    width: 60%;
    background-color: rgb(245, 245, 245);
    padding: 50px;

    @include breakpoint(825px) {
      padding: 20px;
    }

    .aboutAvatar {
      display: none;
    }
  }

  .aboutImage {
    width: 40%;

    img {
      width: 100%;
    }
  }

  .aboutPerson {
    position: absolute;
    width: 64px;
    top: 15px;
    right: -75px;

    @include breakpoint(825px) {
      width: 48px;
      right: -60px;
    }

    @include breakpoint(500px) {
      width: 0;
    }
  }

  h1 {
    display: inline-flex;
    color: $primaryColor;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 2px solid #21252994;
    font-size: 3.5rem;
    text-transform: uppercase;
    position: relative;

    @include breakpoint(825px) {
      margin-top: 50px;
      font-size: 3rem;
      text-align: center;
    }
  }

  a {
    text-decoration: none;
    margin: auto;
  }

  .aboutBtnPlace {
    margin-top: 35px;
    display: flex;
  }

  @include breakpoint(1600px) {
    .aboutImage {
      display: none;
    }
    .aboutDescription {
      width: 100%;
      .aboutAvatar {
        display: initial;
        position: absolute;
        top: 15px;
        right: 15px;
        object-fit: cover;
        object-position: 50% 20%;
        width: 128px;
        border-radius: 50%;
      }
    }
  }

  @include breakpoint(825px) {
    .aboutDescription {
      .aboutAvatar {
        right: 0;
        top: -50px;
        left: 50%;
        margin-left: -64px;
      }
    }
  }
}
