.navigationButton {
  position: relative;
  display: flex;
  margin: auto;
  // width: 225px;
  border: 0;
  padding: 0;
  background-color: $primaryColorText;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;

  &:focus {
    outline: none;
    .eyeLines {
      opacity: 1;
    }
  }

  &:hover {
    .eyeLines {
      opacity: 1;
    }
  }

  p {
    margin: 0;
    padding: 10px 40px;
  }

  .navButtonEye {
    position: relative;
    height: 56px;
  }

  .eyeIcon {
    height: 100%;
    background: darken($primaryColorText, 10);
    border-radius: 0 5px 5px 0;
    padding: 10px;
  }

  .eyeLines {
    position: absolute;
    opacity: 0;
    width: 48px;
    top: 4px;
    right: 4px;
    z-index: 1;
    transition: 0.25s;
  }
}
