.navMenu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  @include flexDisplay;
}

.navMenuBtn {
  margin: 5px;
  padding: 10px 30px;
  border: 0;
  background: 0;
  border-radius: 5px;
  border-bottom: 2px solid transparent;

  &:focus {
    outline: none;
  }

  &:hover {
    background: rgb(240, 240, 240);
    border-bottom: 2px solid $primaryColor;
  }

  img {
    width: 32px;
  }
}

.homeBtn {
  top: 15px;
  right: 95px;

  @include breakpoint(600px) {
    right: none;
    left: 15px;
  }
}
