.navMenu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  @include flexDisplay;
}

.navbarBg {
  width: 1920px;
  position: absolute;
  top: -300px;
  z-index: 5;
}

.navActive {
  box-shadow: 0 8px 0 -5px $primaryColor;
}

.navMenuBtn {
  margin: 5px;
  padding: 10px 30px;
  border: 0;
  background: 0;
  border-radius: 5px;

  &:focus {
    outline: none;
    background: rgb(65, 65, 65);
  }

  &:hover {
    background: rgb(65, 65, 65);
  }

  img {
    width: 32px;
  }
}

.homeBtn {
  top: 15px;
  right: 95px;

  @include breakpoint(600px) {
    right: none;
    left: 15px;
  }
}
