.projects {
  @include flexColumn;

  .projectsTitle {
    font-size: 4rem;
    margin: 125px 0 75px 0;
    text-align: center;

    @include breakpoint(600px) {
      font-size: 2.75rem;
      margin: 75px 0 25px 0;
      padding: 25px 0px;
      border-bottom: 2px solid $primaryColor;
    }

    @include breakpoint(350px) {
      font-size: 2.5rem;
    }
  }

  a {
    margin: auto;
    text-decoration: none;
  }

  .skillsBtn {
    margin: 50px auto 50px auto;
    background: rgb(245, 245, 245);
    @include breakpoint(600px) {
      margin: 25px auto 25px auto;
    }
  }

  .projectArrow {
    border: 0;
    top: 30px;
    background-color: $primaryColor;
    padding: 5px 15px;
    border-radius: 5px;
    z-index: 1;

    @include breakpoint(1400px) {
      top: 60px;
    }
    @include breakpoint(600px) {
      top: 28px;
    }
    @include breakpoint(350px) {
      padding: 5px 10px;
    }

    img {
      width: 24px;
    }

    &:hover {
      background-color: darken($primaryColor, 10);
    }
  }

  .arrowLeft {
    position: absolute;
    left: 25px;
    @include breakpoint(600px) {
      left: 5%;
    }
  }

  .arrowRight {
    position: absolute;
    right: 25px;
    @include breakpoint(600px) {
      right: 5%;
    }
  }
}

.project {
  display: flex;
  position: relative;
  width: 90%;

  @include breakpoint(1400px) {
    @include flexColumn;
  }

  @include breakpoint(600px) {
    width: 100%;
  }

  .projectImages {
    position: relative;
    width: 60%;
    height: auto;
    margin-left: 5%;
    @include breakpoint(1400px) {
      width: 90%;
      margin: 0;
    }
    @include breakpoint(600px) {
      width: 100%;
    }
  }

  .CrossfadeImage {
    width: 100%;
    min-height: 26.6vw;
  }

  .projectImagesDots {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: -35px;
    z-index: 1;

    @include breakpoint(600px) {
      display: none;
    }
  }

  .projectImagesDot {
    display: block;
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 50%;
    border: 2px solid $primaryColor;
    cursor: pointer;
  }

  .dotActive {
    background-color: $primaryColor;
  }

  .projectInfo {
    position: relative;
    width: 30%;
    background-color: rgb(240, 240, 240);
    // background-color: white;
    @include breakpoint(1400px) {
      width: 90%;
      margin: 0;
    }
    @include breakpoint(600px) {
      width: 100%;
      @include flexColumn;
    }
  }

  .projectTitle {
    text-align: center;
    font-size: 3rem;
    margin: 15px;
    @include breakpoint(1400px) {
      margin-top: 50px;
    }
    @include breakpoint(600px) {
      margin-top: 15px;
    }
    @include breakpoint(350px) {
      margin-top: 25px;
      font-size: 2.25rem;
    }
  }

  .projectDescription {
    padding: 25px;
    @include breakpoint(1400px) {
      margin-bottom: 75px;
    }
    @include breakpoint(600px) {
      margin-bottom: 25px;
    }
  }

  .projectHrefs {
    width: 100%;
    display: flex;
  }

  .projectBtnHref {
    border: 3px solid $primaryColor;
    background: none;
    color: $primaryColor;
    font-size: 24px;
    padding: 10px 25px;
    font-weight: 600;
    width: 200px;
    text-align: center;

    @include breakpoint(1800px) {
      width: 150px;
    }
    @include breakpoint(1400px) {
      width: 200px;
    }
    @include breakpoint(900px) {
      width: 150px;
    }
    @include breakpoint(600px) {
      width: 125px;
      padding: 10px 15px;
      margin: 0 15px 15px 15px;
    }
    @include breakpoint(300px) {
      font-size: 16px;
      width: 100px;
    }
  }

  .projectHref1 {
    position: absolute;
    bottom: 15px;
    left: 25px;
    @include breakpoint(1400px) {
      left: 50px;
    }
    @include breakpoint(1200px) {
      // left: 15%;
    }
    @include breakpoint(600px) {
      position: initial;
    }
  }

  .projectHref2 {
    position: absolute;
    bottom: 15px;
    right: 25px;
    @include breakpoint(1400px) {
      right: 50px;
    }
    @include breakpoint(1200px) {
      // right: 15%;
    }
    @include breakpoint(600px) {
      position: initial;
    }
  }
}
