.skills {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 25px;
  background: linear-gradient(
    90deg,
    rgba(69, 15, 103, 1) 0%,
    rgba(139, 19, 214, 1) 100%
  );
  // @include flexColumn;

  a {
    display: flex;
    text-decoration: none;
    width: 225px;
    margin: 50px auto 0 auto;
  }

  .bg {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: linear-gradient(
      90deg,
      rgba(69, 15, 103, 1) 0%,
      rgba(139, 19, 214, 1) 100%
    );
  }

  h1 {
    color: $primaryColorText;
    font-size: 4rem;
    text-align: center;
    margin: 0 0 75px 0;
    padding-top: 125px;

    @include breakpoint(600px) {
      font-size: 2rem;
      margin: 0 0 25px 0;
      padding-top: 100px;
    }
  }
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 5% 0 5%;

  @include breakpoint(600px) {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  }
}

.skillsCard {
  position: relative;
  min-width: 175px;
  padding: 25px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  color: $secondaryColorText;
  @include flexColumn;

  @include breakpoint(600px) {
    padding: 10px;
    margin: 10px;
    min-width: 150px;
  }

  .skillsTopBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 84px;
    // background-color: lighten($primaryColor, 20);
  }

  h4 {
    text-align: center;
    margin-top: 10px;
  }
}

.skillsIcon {
  position: relative;
  margin: auto;
  border-radius: 50%;
  padding: 25px;
  background-color: white;
  color: $primaryColor;

  @include breakpoint(600px) {
    padding: 15px;
  }

  img {
    width: 64px;
    height: 64px;
    @include breakpoint(600px) {
      width: 48px;
      height: 48px;
    }
  }
}

.skillsBtn {
  margin: 0;
  .eyeLines {
    right: 3px;
  }
}
