@import "./breakpoint";
@import "./colors";
@import "./font";
@import "./flexMixin";
@import "./animations";
@import "./button";
@import "./app";
@import "./navbar";
@import "./mainPage";
@import "./projectsPage";
@import "./about";
@import "./skills";
@import "./contact";

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}
