@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes AFKAttention {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes AFKAttention {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes animationFadeFromBottom {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animationFadeFromBottom {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.page-enter {
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
  position: absolute !important;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.page-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1.25s;
  transition: 1.25s;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.page-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: absolute !important;
}

.page-exit-active {
  -webkit-transition: 1.25s;
  transition: 1.25s;
  -webkit-transform: translateX(125%);
          transform: translateX(125%);
}

.fade-enter {
  opacity: 1;
  z-index: 1;
}

.fade-enter-active {
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  -webkit-transition: 250ms;
  transition: 250ms;
  opacity: 1;
}

.navigationButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: 0;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .navigationButton {
    font-size: 18px;
  }
}

.navigationButton:focus {
  outline: none;
}

.navigationButton:focus .eyeLines {
  opacity: 1;
}

.navigationButton:hover .eyeLines {
  opacity: 1;
}

.navigationButton p {
  margin: 0;
  padding: 10px 40px;
}

.navigationButton .navButtonEye {
  position: relative;
  height: 56px;
}

@media (max-width: 600px) {
  .navigationButton .navButtonEye {
    height: 47px;
  }
}

.navigationButton .eyeIcon {
  height: 100%;
  background: #e6e6e6;
  border-radius: 0 5px 5px 0;
  padding: 10px;
}

.navigationButton .eyeLines {
  position: absolute;
  opacity: 0;
  width: 48px;
  top: 4px;
  right: 4px;
  z-index: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.app {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.navMenu {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbarBg {
  position: absolute;
  top: -30px;
  z-index: -1;
  margin-left: 75px;
}

@media (max-width: 600px) {
  .navbarBg {
    top: -50px;
    margin-left: 150px;
  }
}

@media (max-height: 600px) {
  .navbarBg {
    top: -50px;
    margin-left: 150px;
  }
}

.navActive {
  -webkit-box-shadow: 0 8px 0 -5px #8b13d6;
          box-shadow: 0 8px 0 -5px #8b13d6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navMenuBtn {
  margin: 5px;
  padding: 10px 30px;
  border: 0;
  background: 0;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .navMenuBtn {
    padding: 10px 15px;
  }
}

@media (max-width: 300px) {
  .navMenuBtn {
    padding: 10px 10px;
  }
}

@media (max-height: 600px) {
  .navMenuBtn {
    padding: 10px 15px;
  }
}

.navMenuBtn:focus {
  outline: none;
  background: #414141;
}

.navMenuBtn:hover {
  background: #414141;
}

.navMenuBtn img {
  width: 32px;
}

@media (max-width: 600px) {
  .navMenuBtn img {
    width: 24px;
  }
}

@media (max-width: 300px) {
  .navMenuBtn img {
    width: 18px;
  }
}

@media (max-height: 600px) {
  .navMenuBtn img {
    width: 24px;
  }
}

.mainPage {
  position: relative;
  color: white;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPage .mainBg {
  position: absolute;
  background-color: #8b13d6;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: -10;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
          animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}

.mainPage a {
  margin-top: 35px;
  text-decoration: none;
}

.mainPage .mainBtnProjects {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-name: AFKAttention;
          animation-name: AFKAttention;
}

@media (max-width: 500px) {
  .mainPage .mainBtnProjects {
    margin-top: 15px;
  }
}

.mainPage .mainBtnProjects p {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mainPage .mainBtnProjects .eyeIcon {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mainPage h1 {
  text-align: center;
  word-spacing: 100vw;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  -webkit-text-stroke: 0.15px;
  font-size: 17.5vmin;
}

@media (max-width: 500px) {
  .mainPage h1 {
    margin-top: -50px;
  }
}

@media (max-height: 600px) {
  .mainPage h1 {
    padding-top: 50px;
    font-size: 15vmin;
  }
}

.mainPage .mainDesc {
  width: 275px;
  position: absolute;
  bottom: 25px;
  right: 10%;
  padding-left: 25px;
}

@media (max-width: 300px) {
  .mainPage .mainDesc {
    width: 225px;
    font-size: 18px;
  }
}

@media (max-height: 600px) {
  .mainPage .mainDesc {
    font-size: 18px;
  }
}

.mainPage .leftLineDesc {
  position: absolute;
  left: 0;
  width: 5px;
  border-radius: 2px;
  background-color: #f0fc48;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .projectsTitle {
  font-size: 4rem;
  margin: 125px 0 75px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .projects .projectsTitle {
    font-size: 2.75rem;
    margin: 75px 0 25px 0;
    padding: 25px 0px;
    border-bottom: 2px solid #8b13d6;
  }
}

@media (max-width: 350px) {
  .projects .projectsTitle {
    font-size: 2.5rem;
  }
}

.projects a {
  margin: auto;
  text-decoration: none;
}

.projects .skillsBtn {
  margin: 50px auto 50px auto;
  background: whitesmoke;
}

@media (max-width: 600px) {
  .projects .skillsBtn {
    margin: 25px auto 25px auto;
  }
}

.projects .projectArrow {
  border: 0;
  top: 30px;
  background-color: #8b13d6;
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 1;
}

@media (max-width: 1400px) {
  .projects .projectArrow {
    top: 60px;
  }
}

@media (max-width: 600px) {
  .projects .projectArrow {
    top: 28px;
  }
}

@media (max-width: 350px) {
  .projects .projectArrow {
    padding: 5px 10px;
  }
}

.projects .projectArrow img {
  width: 24px;
}

.projects .projectArrow:hover {
  background-color: #6d0fa7;
}

.projects .arrowLeft {
  position: absolute;
  left: 25px;
}

@media (max-width: 600px) {
  .projects .arrowLeft {
    left: 5%;
  }
}

.projects .arrowRight {
  position: absolute;
  right: 25px;
}

@media (max-width: 600px) {
  .projects .arrowRight {
    right: 5%;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 90%;
}

@media (max-width: 1400px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .project {
    width: 100%;
  }
}

.project .projectImages {
  position: relative;
  width: 60%;
}

@media (max-width: 1400px) {
  .project .projectImages {
    width: 90%;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .project .projectImages {
    width: 100%;
  }
}

.project .CrossfadeImage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .project .CrossfadeImage {
    height: auto;
  }
}

.project .projectImagesDots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: -35px;
  z-index: 1;
}

@media (max-width: 600px) {
  .project .projectImagesDots {
    display: none;
  }
}

.project .projectImagesDot {
  display: block;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-radius: 50%;
  border: 2px solid #8b13d6;
  cursor: pointer;
}

.project .dotActive {
  background-color: #8b13d6;
}

.project .projectInfo {
  position: relative;
  width: 40%;
  background-color: #f0f0f0;
}

@media (max-width: 1400px) {
  .project .projectInfo {
    width: 90%;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .project .projectInfo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project .projectTitle {
  text-align: center;
  font-size: 3rem;
  margin: 15px;
}

@media (max-width: 1400px) {
  .project .projectTitle {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .project .projectTitle {
    margin-top: 27px;
    font-size: 2rem;
  }
}

@media (max-width: 300px) {
  .project .projectTitle {
    margin-top: 33px;
    font-size: 1.5rem;
  }
}

.project .projectDescription {
  padding: 25px;
  max-height: 14vw;
  overflow-y: auto;
}

@media (max-width: 1400px) {
  .project .projectDescription {
    margin-bottom: 75px;
    max-height: none;
  }
}

@media (max-width: 600px) {
  .project .projectDescription {
    margin-bottom: 25px;
  }
}

.project .projectHrefs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .projectBtnHref {
  border: 3px solid #8b13d6;
  background: none;
  color: #8b13d6;
  font-size: 24px;
  padding: 10px 25px;
  font-weight: 600;
  width: 200px;
  text-align: center;
}

@media (max-width: 1800px) {
  .project .projectBtnHref {
    width: 150px;
  }
}

@media (max-width: 1400px) {
  .project .projectBtnHref {
    width: 200px;
  }
}

@media (max-width: 900px) {
  .project .projectBtnHref {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .project .projectBtnHref {
    width: 125px;
    padding: 10px 15px;
    margin: 0 15px 15px 15px;
  }
}

@media (max-width: 300px) {
  .project .projectBtnHref {
    font-size: 16px;
    width: 100px;
  }
}

.project .projectHref1 {
  position: absolute;
  bottom: 15px;
  left: 25px;
}

@media (max-width: 1400px) {
  .project .projectHref1 {
    left: 50px;
  }
}

@media (max-width: 600px) {
  .project .projectHref1 {
    position: initial;
  }
}

.project .projectHref2 {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

@media (max-width: 1400px) {
  .project .projectHref2 {
    right: 50px;
  }
}

@media (max-width: 600px) {
  .project .projectHref2 {
    position: initial;
  }
}

.aboutPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 125px 10% 0 10%;
}

@media (max-width: 825px) {
  .aboutPage {
    width: 90%;
    margin: 125px 5% 25px 5%;
  }
}

@media (max-width: 400px) {
  .aboutPage {
    width: 100%;
    margin: 125px 0 25px 0;
  }
}

.aboutPage .aboutDescription {
  position: relative;
  width: 60%;
  background-color: whitesmoke;
  padding: 50px;
}

@media (max-width: 825px) {
  .aboutPage .aboutDescription {
    padding: 20px;
  }
}

.aboutPage .aboutDescription .aboutAvatar {
  display: none;
}

.aboutPage .aboutImage {
  width: 40%;
}

.aboutPage .aboutImage img {
  width: 100%;
}

.aboutPage .aboutPerson {
  position: absolute;
  width: 64px;
  top: 15px;
  right: -75px;
}

@media (max-width: 825px) {
  .aboutPage .aboutPerson {
    width: 48px;
    right: -60px;
  }
}

@media (max-width: 500px) {
  .aboutPage .aboutPerson {
    width: 0;
  }
}

.aboutPage h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #8b13d6;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 2px solid #21252994;
  font-size: 3.5rem;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 825px) {
  .aboutPage h1 {
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
  }
}

.aboutPage a {
  text-decoration: none;
  margin: auto;
}

.aboutPage .aboutBtnPlace {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1600px) {
  .aboutPage .aboutImage {
    display: none;
  }
  .aboutPage .aboutDescription {
    width: 100%;
  }
  .aboutPage .aboutDescription .aboutAvatar {
    display: initial;
    position: absolute;
    top: 15px;
    right: 15px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
    width: 128px;
    border-radius: 50%;
  }
}

@media (max-width: 825px) {
  .aboutPage .aboutDescription .aboutAvatar {
    right: 0;
    top: -50px;
    left: 50%;
    margin-left: -64px;
  }
}

.skills {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#450f67), to(#8b13d6));
  background: linear-gradient(90deg, #450f67 0%, #8b13d6 100%);
}

.skills a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin: 50px auto 0 auto;
}

.skills .skillsNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .bg {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#450f67), to(#8b13d6));
  background: linear-gradient(90deg, #450f67 0%, #8b13d6 100%);
}

.skills h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin: 0 0 75px 0;
  padding-top: 125px;
}

@media (max-width: 600px) {
  .skills h1 {
    font-size: 2rem;
    margin: 0 0 25px 0;
    padding-top: 100px;
  }
}

.skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 5% 0 5%;
}

@media (max-width: 600px) {
  .skillsIcons {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  }
}

.skillsCard {
  position: relative;
  min-width: 175px;
  padding: 25px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  color: #212529;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .skillsCard {
    padding: 10px;
    margin: 10px;
    min-width: 150px;
  }
}

.skillsCard:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.75);
}

.skillsCard .skillsTopBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 84px;
}

.skillsCard h4 {
  text-align: center;
  margin-top: 10px;
}

.skillsIcon {
  position: relative;
  margin: auto;
  border-radius: 50%;
  padding: 25px;
  background-color: white;
  color: #8b13d6;
}

@media (max-width: 600px) {
  .skillsIcon {
    padding: 15px;
  }
}

.skillsIcon img {
  width: 64px;
  height: 64px;
}

@media (max-width: 600px) {
  .skillsIcon img {
    width: 48px;
    height: 48px;
  }
}

.skillsBtn {
  margin: 0;
}

.skillsBtn .eyeLines {
  right: 3px;
}

.contact {
  width: 100%;
  background-color: #f6ebfd;
  padding-bottom: 25px;
}

.contact .bg {
  position: absolute;
  top: 0;
  background-color: #f6ebfd;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.contact h1 {
  text-align: center;
  margin: 125px 0 75px 0;
  font-size: 4rem;
}

@media (max-width: 600px) {
  .contact h1 {
    font-size: 2rem;
    margin: 100px 0 25px 0;
  }
}

.contactForm {
  width: 750px;
  margin: 25px auto 0 auto;
  background-color: white;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 50px 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

@media (max-width: 900px) {
  .contactForm {
    width: 90%;
    margin: 25px 5% 0 5%;
    padding: 50px 25px 25px 25px;
    border-radius: 5px;
  }
}

.contactForm .contactBg {
  position: absolute;
  width: 64px;
  right: -48px;
  top: -32px;
}

@media (max-width: 600px) {
  .contactForm .contactBg {
    width: 32px;
    right: -16px;
    top: -16px;
  }
}

.contactForm form {
  width: 100%;
}

.contactForm form img {
  width: 32px;
  margin-top: 7px;
}

@media (max-width: 600px) {
  .contactForm form img {
    display: none;
  }
}

.contactForm label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
}

.contactForm label textarea {
  margin: auto;
  width: 85%;
  padding: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  min-height: 150px;
}

@media (max-width: 600px) {
  .contactForm label textarea {
    width: 100%;
  }
}

.contactForm label textarea:focus {
  outline: none;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 0 0 2px #8b13d6;
          box-shadow: inset 0 0 0 2px #8b13d6;
}

.contactForm label input {
  margin: auto;
  width: 85%;
  padding: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .contactForm label input {
    width: 100%;
  }
}

.contactForm label input:focus {
  outline: none;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 0 0 2px #8b13d6;
          box-shadow: inset 0 0 0 2px #8b13d6;
}

.contactForm .contactBtn {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  margin-top: 50px;
}

.contactForm .contactBtn .contactSend {
  margin-left: 15px;
  border: 0;
  border-radius: 5px;
  background-color: #8b13d6;
  color: white;
  padding: 15px 50px;
}

.contactForm .contactBtn .contactSend:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.75);
}

.contactForm .contactBtn .contactSent {
  padding: 14px;
  margin: auto;
  width: 60%;
}

@media (max-width: 600px) {
  .contactForm .contactBtn .contactSent {
    width: 90%;
  }
}

.contactForm .contactBtn .contactApproved {
  color: #2b7a3d;
  background: #cfeed6;
  border: 1px solid #4bc066;
  border-left: 5px solid #4bc066;
  border-radius: 5px;
}

.contactForm .contactBtn .contactError {
  color: #7a2b2b;
  background: #eecfcf;
  border: 1px solid #c04b4b;
  border-left: 5px solid #c04b4b;
  border-radius: 5px;
}

.contactForm .contactBtn .contactLoading {
  position: absolute;
  width: 32px;
  right: 50%;
  margin-right: -24px;
  bottom: 5px;
}

.contactForm .contactBtn .contactHidden {
  display: none;
}

.contactForm .contactMail {
  position: absolute;
  margin: 0;
  top: 5px;
  right: 15px;
  font-size: 14px;
  color: #cccccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
/*# sourceMappingURL=style.css.map */