@import "./breakpoint";
@import "./_colors";
@import "./_font";
@import "./flexMixin";
@import "./animations";
@import "./_mainPage";
@import "./projectsPage";

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}
