@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes AFKAttention {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes AFKAttention {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes swingFromTop {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swingFromTop {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.page-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute !important;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.page-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1000ms;
  transition: 1000ms;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.page-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: absolute !important;
}

.page-exit-active {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.fade-enter {
  opacity: 1;
  z-index: 1;
}

.fade-enter-active {
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  -webkit-transition: 250ms;
  transition: 250ms;
  opacity: 1;
}

.app {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.mainPage {
  position: relative;
  color: white;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPage .mainBg {
  position: absolute;
  background-color: #8b13d6;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
          animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}

.mainPage a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.mainPage .mainBtnProjects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 225px;
  border: 0;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  margin-top: 35px;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-name: AFKAttention;
          animation-name: AFKAttention;
}

.mainPage .mainBtnProjects:focus {
  outline: none;
}

.mainPage .mainBtnProjects:focus .eyeLines {
  opacity: 1;
}

.mainPage .mainBtnProjects:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.mainPage .mainBtnProjects:hover .eyeLines {
  opacity: 1;
}

@media (max-width: 500px) {
  .mainPage .mainBtnProjects {
    margin-top: 15px;
  }
}

.mainPage .mainBtnProjects p {
  margin: 0;
  opacity: 0;
  padding: 10px 40px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mainPage .mainBtnProjects .eyeIcon {
  height: 100%;
  background: #e6e6e6;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  opacity: 0;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mainPage .mainBtnProjects .eyeLines {
  position: absolute;
  opacity: 0;
  width: 48px;
  top: 4px;
  right: 0;
  z-index: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mainPage h1 {
  text-align: center;
  word-spacing: 100vw;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  -webkit-text-stroke: 0.15px;
  font-size: 17.5vmin;
}

@media (max-width: 500px) {
  .mainPage h1 {
    margin-top: -50px;
  }
}

.mainPage .mainDesc {
  width: 275px;
  position: absolute;
  bottom: 25px;
  right: 10%;
  padding-left: 25px;
}

.mainPage .leftLineDesc {
  position: absolute;
  left: 0;
  width: 5px;
  border-radius: 2px;
  background-color: #f0fc48;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navMenuBtn {
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 15px;
  border: 0;
  background: 0;
  z-index: 10;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navMenuBtn:focus {
  outline: none;
}

.navMenuBtn img {
  width: 64px;
}

.homeBtn {
  top: 15px;
  right: 95px;
}

@media (max-width: 600px) {
  .homeBtn {
    right: none;
    left: 15px;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.projects .projectsTitle {
  font-size: 4rem;
  margin: 50px 0 75px 0;
  text-align: center;
}

.projects .projectsArrows {
  position: relative;
  width: 20%;
  height: 52px;
  margin: 50px 40% 50px 40%;
}

@media (max-width: 1300px) {
  .projects .projectsArrows {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .projects .projectsArrows {
    width: 70%;
  }
}

.projects .projectArrow {
  border: 0;
  background-color: #8b13d6;
  padding: 10px 35px;
  border-radius: 5px;
}

.projects .projectArrow img {
  width: 32px;
}

.projects .projectArrow:hover {
  background-color: #6d0fa7;
}

.projects .arrowLeft {
  position: absolute;
  left: 0;
}

.projects .arrowRight {
  position: absolute;
  right: 0;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-left: 5;
}

@media (max-width: 1350px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project .projectImages {
  position: relative;
  width: 60%;
  height: auto;
  margin-left: 5%;
}

@media (max-width: 1350px) {
  .project .projectImages {
    width: 90%;
    margin: 0;
  }
}

.project .projectImage {
  width: 100%;
}

.project .projectImagesDots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: -35px;
  z-index: 1;
}

.project .projectImagesDot {
  display: block;
  height: 20px;
  width: 20px;
  margin: 3px;
  border-radius: 50%;
  border: 2px solid #8b13d6;
  cursor: pointer;
}

.project .dotActive {
  background-color: #8b13d6;
}

.project .projectInfo {
  position: relative;
  width: 30%;
  background-color: #f0f0f0;
}

@media (max-width: 1350px) {
  .project .projectInfo {
    width: 90%;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .project .projectInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project .projectTitle {
  text-align: center;
  font-size: 3rem;
  margin: 15px;
}

@media (max-width: 1350px) {
  .project .projectTitle {
    margin-top: 45px;
  }
}

.project .projectDescription {
  padding: 25px;
}

@media (max-width: 1350px) {
  .project .projectDescription {
    margin-bottom: 75px;
  }
}

@media (max-width: 600px) {
  .project .projectDescription {
    margin-bottom: 25px;
  }
}

.project .projectBtnHref {
  border: 3px solid #8b13d6;
  color: #8b13d6;
  font-size: 24px;
  padding: 10px 75px;
  font-weight: 600;
}

@media (max-width: 1800px) {
  .project .projectBtnHref {
    padding: 10px 35px;
  }
}

@media (max-width: 1350px) {
  .project .projectBtnHref {
    padding: 10px 75px;
  }
}

@media (max-width: 900px) {
  .project .projectBtnHref {
    padding: 10px 35px;
  }
}

@media (max-width: 600px) {
  .project .projectBtnHref {
    padding: 10px 15px;
    margin: 0 15px 15px 15px;
  }
}

.project .projectHref1 {
  position: absolute;
  bottom: 15px;
  left: 25px;
}

@media (max-width: 1350px) {
  .project .projectHref1 {
    left: 25%;
  }
}

@media (max-width: 1200px) {
  .project .projectHref1 {
    left: 15%;
  }
}

@media (max-width: 600px) {
  .project .projectHref1 {
    position: initial;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.project .projectHref2 {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

@media (max-width: 1350px) {
  .project .projectHref2 {
    right: 25%;
  }
}

@media (max-width: 1200px) {
  .project .projectHref2 {
    right: 15%;
  }
}

@media (max-width: 600px) {
  .project .projectHref2 {
    position: initial;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
/*# sourceMappingURL=style.css.map */