@import "./breakpoint";
@import "./_colors";
@import "./_font";
@import "./flexMixin";
@import "./animations";
@import "./app";
@import "./navbar";
@import "./_mainPage";
@import "./_projectsPage";
@import "./_about";
@import "./_skills";

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}
